body {
    padding: 45px 0 0 0;
}

.carousel-item img {
    max-height: 40vh;
    object-fit: cover;
}

.card-deck {
    margin-bottom: 45px;
}

.noborder {
    border: none;
}

.card {
    transition:.3s;
}

.card:hover {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}
